@import 'variables';

@mixin button{
    display: block;
    border: none;
    border-radius: 30px;
    padding: 20px 30px;
    cursor: pointer;
    background: $btn-bg;
    color: white;
    text-decoration: none;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease-in-out;
    &:hover {
        background: linear-gradient(0deg, lighten(#9356DC, 10%) 0%, lighten(#FF79DA, 10%) 100%);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.35);
    }
}

@mixin heart {
    z-index: 10;
    .heart-checkbox {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
        &:checked + label .fa-heart {
            background-size: 150% 150%;
            -webkit-text-stroke: 1px transparent;
        }
    }
    label {
        cursor: pointer;
        display: inline-block;
        .fa-heart {
            font-size: 1.5rem;
            color: transparent;
            -webkit-text-stroke: 1px black;
            position: relative;
            background: $btn-bg no-repeat center;
            background-size: 0 0;
            background-clip: text;
            -webkit-background-clip: text;
            transition: all 0.4s ease-in-out;
            padding: 5px;
            line-height: 1;
            @media screen and (min-width: 768px) {
                &:hover {
                    background-size: 150% 150%;
                    -webkit-text-stroke: 1px transparent;
                }
            }
        }
    }
}

@mixin footer {
    padding: 20px 25px;
    background-color: $grey;
    color: white;
    nav ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &__logo {
        filter: invert(100%);
        width: 139px;
        margin-bottom: 20px;
    }
    &__link{
        list-style: none;
        display: flex;
        align-items: center;
        gap: 10px;
        text-decoration: none;
        color: white;
        i {
            width: 20px;
        }
    }
    @media screen and (min-width: 768px){
        display: flex;
        flex-direction: row-reverse;
        gap: 20px;
        nav ul {
            display: flex;
            flex-direction: row;
            gap: 30px;
        }
    }
}
