$text-font: 'Roboto', sans-serif;
$title-font: 'Shrikhand', cursive;
$bg-color: #f6f6f6;
$localisation-color: #EAEAEA;
$shadow-badge: 0 4px 4px rgba(0, 0, 0, 0.25);
$grey: #353535;
$purple: #9356DC;
$green: #99E2D0;
$green-font: #008766;
$btn-bg: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
