$text-font: 'Roboto', sans-serif;
$title-font: 'Shrikhand', cursive;
$bg-color: #f6f6f6;
$localisation-color: #EAEAEA;
$shadow-badge: 0 4px 4px rgba(0, 0, 0, 0.25);
$grey: #353535;
$btn-bg: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);

@mixin button{
    display: inline-block;
    border: none;
    border-radius: 30px;
    padding: 20px 30px;
    cursor: pointer;
    background: $btn-bg;
    color: white;
    text-decoration: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: $text-font;
    color: $grey;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__logo{
        padding: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: $shadow-badge;
        position: relative;
        z-index: 1;
        width: 100%;
    }
    &__localisation{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 17px;
        width: 100%;
        height: 50px;
        background-color: $localisation-color;
        box-shadow: $shadow-badge;
        font-weight: 500;
    }
}

.hero{
    text-align: center;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: $bg-color;

    &__title{
        font-family: $text-font;
        padding: 0 75px;
        color: black;
        font-size: 1.5rem;
    }
    &__subtitle{
        font-family: $text-font;
        font-size: 1.1rem;
    }
    &__button{
        @include button;
    }
}

