$font-roboto: 'Roboto', sans-serif;
$font-shrikhand: 'Shrikhand', cursive;
$bg-color: #f6f6f6;
$localisation-color: #EAEAEA;
$shadow-badge: 0 4px 4px rgba(0, 0, 0, 0.25);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__logo{
        padding: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: $shadow-badge;
        position: relative;
        z-index: 1;
        width: 100%;
    }
    &__localisation{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 17px;
        width: 100%;
        height: 50px;
        font-family: $font-roboto;
        background-color: $localisation-color;
        box-shadow: $shadow-badge;
    }
}

