@import 'variables';
@import 'mixins';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: $text-font;
    color: black;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($bg-color, 0.8);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    animation: fadeOut 0.5s 3s ease-in-out forwards;
    &__element {
        width: 15px;
        height: 15px;
        margin: 0 5px;
        background-color: $purple;
        border-radius: 50%;
        animation: bounce 1.5s infinite ease-in-out;
        &:nth-child(2) {
            animation-delay: 0.3s;
        }

        &:nth-child(3) {
            animation-delay: 0.6s;
        }
    }
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__logo{
        padding: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: $shadow-badge;
        position: relative;
        z-index: 1;
        width: 100%;
        img{
            width: 162px;
        }
    }
    &__localisation{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 17px;
        width: 100%;
        height: 50px;
        background-color: $localisation-color;
        box-shadow: $shadow-badge;
        font-weight: 500;
        color: $grey;
    }
    @media screen and (min-width: 768px){
        &__logo{
            box-shadow: none;
            img{
                width: 200px;
            }
        }
        &__localisation{
            box-shadow: none;
        }
    }
}

.hero{
    text-align: center;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: $bg-color;

    &__title{
        font-family: $text-font;
        padding: 0 75px;
        color: black;
        font-size: 1.5rem;
    }
    &__subtitle{
        font-family: $text-font;
        font-size: 1.1rem;
        color: $grey;
    }
    &__button{
        @include button;
    }
    @media screen and (min-width: 768px){
        &__title{
            font-size: 2.5rem;
        }
    }
}

.fonctionnement {
    padding: 50px 25px;
    text-align: left;
    color: black;

    &__title {
        font-size: 1.5rem;
        padding-bottom: 30px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    &__item {
        display: flex;
        text-align: center;
        align-items: center;
        gap: 10px;
        margin-bottom: 20px;
        background-color: $bg-color;
        width: 322px;
        height: 72px;
        border-radius: 20px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);

        .fa-solid {
            color: #7e7e7e;

            &.fa-store {
                color: $purple;
            }
        }
    }

    &__number {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 10px;
        background-color: $purple;
        color: white;
        border-radius: 30px;
        width: 24px;
        height: 24px;
    }

    @media screen and (min-width: 768px) {
        &__title {
            padding-left: 0;
            text-align: center;
        }
        &__content {
            flex-direction: row;
            justify-content: center;
            gap: 30px;
        }
        &__item {
            margin-bottom: 0;
        }
    }
}

.restaurants{
    padding: 40px 25px 80px 25px;
    text-align: left;
    background-color: $bg-color;
    &__container{
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        padding: 0;
    }
    .card__heart {
        position: absolute;
        right: 25px;
        bottom: 25px;
        @include heart;
    }
    &__card{
        position: relative;
        width: 100%;
        height: 251px;
        border-radius: 20px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
        background-color: white;
        text-decoration: none;
        display: block;
        &__link {
            color: inherit;
            text-decoration: none;
            display: block;
        }
        &__img{
            width: 100%;
            height: 180px;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            object-fit: cover;
        }
        &__content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px;
        }
        &__text {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
        &__title {
            font-size: 1.1rem;
            font-weight: 700;
        }
        &__subtitle {
            font-size: 1rem;
        }
        &__new{
            position: absolute;
            top: 15px;
            right: 15px;
            background-color: $green;
            color: $green-font;
            padding: 7px 12px;
            border-radius: 2px;
            font-weight: 500;
        }
    }
    @media screen and (min-width: 768px){
        &__container {
            padding: 0 100px;
            display: grid;
            gap: 60px;
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;
        }
        &__title {
            padding-left: 100px;
        }
    }
}

.footer{
    @include footer;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
