$text-font: 'Roboto', sans-serif;
$title-font: 'Shrikhand', cursive;
$bg-color: #f6f6f6;
$localisation-color: #EAEAEA;
$shadow-badge: 0 4px 4px rgba(0, 0, 0, 0.25);
$grey: #353535;
$purple: #9356DC;
$green: #99E2D0;
$green-font: #008766;

$btn-bg: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);

@mixin button{
    display: block;
    border: none;
    border-radius: 30px;
    padding: 20px 30px;
    cursor: pointer;
    background: $btn-bg;
    color: white;
    text-decoration: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: $text-font;
    color: black;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__logo{
        padding: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: $shadow-badge;
        position: relative;
        z-index: 1;
        width: 100%;
    }
    &__localisation{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 17px;
        width: 100%;
        height: 50px;
        background-color: $localisation-color;
        box-shadow: $shadow-badge;
        font-weight: 500;
        color: $grey;
    }
}

.hero{
    text-align: center;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: $bg-color;

    &__title{
        font-family: $text-font;
        padding: 0 75px;
        color: black;
        font-size: 1.5rem;
    }
    &__subtitle{
        font-family: $text-font;
        font-size: 1.1rem;
        color: $grey;
    }
    &__button{
        @include button;
    }
}

.fonctionnement{
    padding: 50px 25px;
    text-align: left;
    color: black;
    &__title{
        font-size: 1.5rem;
        padding-bottom: 30px;
    }
    &__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    &__item {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 20px;
        background-color: $bg-color;
        width: 322px;
        height: 72px;
        border-radius: 20px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);

        .fa-solid {
            color: #7e7e7e;
            &.fa-store {
                color: $purple;
            }
        }
    }
    &__number{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 10px;
        background-color: $purple;
        color: white;
        border-radius: 30px;
        width: 24px;
        height: 24px;
    }
}

.restaurants{
    padding: 40px 25px 80px 25px;
    text-align: left;
    background-color: $bg-color;
    &__container{
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
    }
    &__card{
        position: relative;
        width: 340px;
        height: 251px;
        border-radius: 20px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
        background-color: white;
        text-decoration: none;
        color: inherit;
        display: block;
        &__img{
            width: 100%;
            height: 150px;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            object-fit: cover;
        }
        &__content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px;
            .fa-heart {
                font-size: 1.5rem;
                cursor: pointer;
            }
        }
        &__text {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
        &__title {
            font-size: 1.1rem;
            font-weight: 700;
        }
        &__subtitle {
            font-size: 1rem;
        }
        &__new{
            position: absolute;
            top: 15px;
            right: 15px;
            background-color: $green;
            color: $green-font;
            padding: 7px 12px;
            border-radius: 2px;
            font-weight: 500;
        }
    }
}

.footer{
    padding: 20px 25px;
    background-color: $grey;
    color: white;
    &__logo {
        filter: invert(100%);
        width: 139px;
        margin-bottom: 20px;
    }
    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &__link{
        display: flex;
        align-items: center;
        gap: 10px;
        text-decoration: none;
        color: white;
        i {
            width: 20px;
        }
    }
}

