@import 'variables';
@import 'mixins';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: $text-font;
    color: black;
    a{
        color: black;
        text-decoration: none;
    }
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__logo{
        padding: 20px 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: $shadow-badge;
        z-index: 1;
        width: 100%;
        img{
            width: 162px;
        }
        a{
            position: absolute;
            left: 20px;
        }
        
    }
    &__localisation{
        display: none;
    }
    @media screen and (min-width: 768px){
        &__logo{
            box-shadow: none;
            img{
                width: 200px;
            }
        }
        &__localisation{
            display: block;
            box-shadow: none;
        }
    }
}

.hero-banner{
    img{
        object-fit: cover;
        width: 100%;
    }
}

.menu{
    background-color: $bg-color;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: relative;
    z-index: 1;
    width: 100%;
    bottom: 50px;
    max-width: 1055px;
    padding: 40px;
    h2{
        font-family: $title-font;
        font-size: 28px;
        font-weight: 400;
    }
    &__title{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
    }
    &__heart{
        @include heart;
    }
}