$text-font: 'Roboto', sans-serif;
$title-font: 'Shrikhand', cursive;
$bg-color: #f6f6f6;
$localisation-color: #EAEAEA;
$shadow-badge: 0 4px 4px rgba(0, 0, 0, 0.25);
$grey: #353535;
$purple: #9356DC;
$green: #99E2D0;
$green-font: #008766;

$btn-bg: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);

@mixin button{
    display: block;
    border: none;
    border-radius: 30px;
    padding: 20px 30px;
    cursor: pointer;
    background: $btn-bg;
    color: white;
    text-decoration: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease-in-out;
    &:hover {
        background: linear-gradient(0deg, lighten(#9356DC, 10%) 0%, lighten(#FF79DA, 10%) 100%);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.35);
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: $text-font;
    color: black;
    a{
        color: black;
        text-decoration: none;
    }
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__logo{
        padding: 20px 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: $shadow-badge;
        z-index: 1;
        width: 100%;
        img{
            width: 162px;
        }
        a{
            position: relative;
            right: 75px;
        }
        
    }
    &__localisation{
        display: none;
    }
    @media screen and (min-width: 768px){
        &__logo{
            box-shadow: none;
            img{
                width: 200px;
            }
        }
        &__localisation{
            display: block;
            box-shadow: none;
        }
    }
}