@import 'variables';
@import 'mixins';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: $text-font;
    color: black;
    a{
        color: black;
        text-decoration: none;
    }
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__logo{
        padding: 20px 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: $shadow-badge;
        z-index: 1;
        width: 100%;
        img{
            width: 162px;
        }
        a{
            position: absolute;
            left: 20px;
        }
        
    }
    &__localisation{
        display: none;
    }
    @media screen and (min-width: 768px){
        &__logo{
            box-shadow: none;
            img{
                width: 200px;
            }
        }
        &__localisation{
            display: block;
            box-shadow: none;
        }
    }
}

.hero-banner{
    img{
        object-fit: cover;
        width: 100%;
    }
}

.menu{
    background-color: $bg-color;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: relative;
    z-index: 1;
    width: 100%;
    bottom: 50px;
    max-width: 1055px;
    padding: 40px;
    margin-bottom: -50px;
    h2{
        font-family: $title-font;
        font-size: 28px;
        font-weight: 400;
    }
    &__title{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        margin-bottom: 30px;
    }
    &__heart{
        @include heart;
    }
    &__content{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 30px;
        h3{
            font-size: 16px;
            font-weight: 300;
            padding-bottom: 5px;
            border-bottom: 3px solid $green;
            width: 40px;
            text-transform: uppercase;
            margin-bottom: 10px;
        }
    }
    &__item{
        background-color: white;
        display: flex;
        flex-direction: column;
        gap: 5px;
        border-radius: 20px;
        padding: 15px;
        width: 349px;
        height: 69px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
        &__text{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 5px;
            .prix{
                color: $grey;
                font-weight: 700;
            }
            h4{
                font-size: 18px;
            }
            p{
                font-size: 14px;
            }
        }
    }

}

.footer {
    @include footer;
}
